<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.dogplanet"
    android:versionCode="400"
    android:versionName="3.0.0">

    <!-- 添加权限开始 -->
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /> -->


    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 添加权限结束 -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppThemeDrawable">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.dogplanet.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.login.ParagraphActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.login.FirstActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.login.BaseInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.login.CardInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.login.ForgetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.shop.ShopProductPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.shop.ShopProductCartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.shop.PersonMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.shop.ProductFindActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.shop.ProductBuyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.order.OrderFindActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.order.OrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.user.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.user.CompanyFindActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".album.imageloader.ImageChooseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.user.InfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.user.AuthenticationInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.user.SafeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".ui.user.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />

        <!-- WX支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxb12e168f6cf407c9" />
            </intent-filter>
        </activity>
        <!-- 分享 -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="db-86873d27cc7e" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
                    如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
                    事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
                    则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent1104825931" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- &lt;!&ndash; 调用新浪原生SDK，需要注册的activity &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->


        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
        <!-- APPKEY值的配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5638586be0f55a1804000cd9" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="181525f12a7a9b020bc8355d0742ce26" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="dogplanet" />
        <!-- AppKEY配置结束 -->


        <!-- BaiduMap -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4bmAeSatx18GvhY0VCwYMpE5GgGaZXwf" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- update -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="358b95f8ccffc3cf9d9da6d494e68047" />

        <!-- 讯飞统计 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="579702eb" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="dogplanet" />

        <!--  -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="14965231" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="Z9xu8KjqeYKDnFxLRKbIriTE" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="jdcc0it3ry1q4SVdRlYDrbFSWY5KHiTW" />

        <activity android:name=".ui.user.EditInfoActivity"></activity>
    </application>

</manifest>